$primary-colour: #9356DC;
$secondary-colour: #FF79DA;
$tertiary-colour: #99E2D0;

$dark-gray: #e3e3e3;
$light-gray: #F8F8F8;
$box-shadow--dark: rgba(100, 100, 110, 0.40);
$box-shadow--light: rgba(100, 100, 110, 0.25);


$breakpoints: (    
    tablet: 768px,
    desktop: 992px
)